
.page-loader {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  background: #f4f8f9;
  -webkit-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  z-index: 99999999999;


/*
  position: absolute;
  top: 50%;
  left: 50%;
  height: 120px;
  width: 40px;
  transform: translate(-50%, calc(-50%));
  z-index: 100;*/
}

.page-loader > img{
  height: 120px;
  width: 40px;
  left: 50%;
  top: 40%;
  transform-origin: bottom;
  opacity: 0.15;
  position: absolute;
  -webkit-animation: spinner 2s infinite ease-in-out;
  animation: spinner 2s infinite ease-in-out;
  z-index: 100;
  transform: translate(-50%, calc(-50%));
}


.page-loader .p7 { 
  transform: rotate(-67deg);
  -webkit-animation-delay: 0.09s; 
  animation-delay: 0.09s; 
}
.page-loader .p6 { 
  transform: rotate(-45deg);
  -webkit-animation-delay: 0.18s; 
  animation-delay: 0.18s; 
}
.page-loader .p5 { 
  transform: rotate(-20deg);
  -webkit-animation-delay: 0.27s; 
  animation-delay: 0.27s; 
}
.page-loader .p4 { 
  transform: rotate(00deg);
  -webkit-animation-delay: 0.36s; 
  animation-delay: 0.36s; 
}
.page-loader .p3 { 
  transform: rotate(20deg);
  -webkit-animation-delay: 0.45s; 
  animation-delay: 0.45s; 
}
.page-loader .p2 { 
  transform: rotate(45deg);
  -webkit-animation-delay: 0.54s; 
  animation-delay: 0.54s; 
}
.page-loader .p1 { 
  transform: rotate(67deg);
  -webkit-animation-delay: 0.63s; 
  animation-delay: 0.63s; 
}

@keyframes spinner {
  0% { opacity: 0.15;}
  25% { opacity: 0.55; }
  50% { opacity: 0.4; }
  70% { opacity: 0.15; }
  100% { opacity: 0.15; }
}

.page-loader .load-icon {
  display: block;
  position: relative;
  width: 70px;
  height: 70px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.page-loader .load-icon:before, .page-loader .load-icon:after {
  content: '';
  display: block;
  position: absolute;
  background: rgba(33, 194, 248, 0.2);
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.page-loader .load-icon:before {
  -webkit-animation: sera-loader-in .85s linear 0s alternate infinite;
          animation: sera-loader-in .85s linear 0s alternate infinite;
}

.page-loader .load-icon:after {
  -webkit-animation: sera-loader-out .85s linear 0s alternate infinite;
          animation: sera-loader-out .85s linear 0s alternate infinite;
}

.page-loader.load-complete {
  height: 0;
  opacity: 0;
}

.go-to-top-button {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: 1px solid #21c2f8;
  background: rgba(244, 248, 249, 0.2);
  -webkit-transform: translate3d(0, -webkit-calc(130% + 50px), 0);
          transform: translate3d(0, calc(130% + 50px), 0);
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  z-index: 9999;
}

.go-to-top-button i {
  font-size: 3.2rem;
}

.go-to-top-button:hover {
  color: #fff;
  background: #21c2f8;
}

.go-to-top-button.active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

