<!-- Site Footer -->
<footer class="site-footer" id="footer">
  <div class="container">

    <div class="row">
      <div class="col-md-6 col-md-push-3 footer-info text-center">

        <div class="footer-logo">
          <img src="{{ site.baseurl }}/images/logos/devcom.png" width="50%" alt="DevCom logo" style="border-radius: 5%;" />
        </div>

        <div class="footer-info-text">
          <!-- <p>{{ site.footer-description }}</p> -->
        </div>

        <div class="social-icons">
          <ul class="icons">
            <li><a href="{{ site.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="{{ site.github }}" target="_blank"><i class="fa fa-github"></i></a></li>
            <li><a href="{{ site.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="{{ site.email }}" target="_blank"><i class="fa fa-envelope"></i></a></li>
          </ul>
        </div>

      </div>

      <div class="col-md-8 col-md-push-2 footer-copyright">
        <div class="footer-text text-center">
          <p>What are we good at?</p>
          <p>Obviously Coding and Development!!</p>
        <p><a href="#home">&copy; {{ site.footer-copyright-text }}</a></p>
        </div>
      </div>
    </div>

  </div>
</footer>

<!-- Go To Top Button -->
<a href="#home" class="go-to-top-button"><i class="pe-7s-angle-up"></i></a>
