<!-- Site Header -->
<header class="site-header parallax" id="home" data-scrollax-parent="true">

  <!-- Parallax Header Image -->
  <div class="parallax-wrapper">
    <div class="cover2" data-scrollax="properties: { 'translateY': '48%' }">
      <img src="{{ site.baseurl }}/images/code.png" alt="DevCom code import" />
    </div>
  </div>

  <div class="container">

    <!-- Site Navigation Bar -->
    <div class="row site-navigation-bar parent">

      <!-- Toggle Mobile Menu -->
      <div class="col-xs-8 toggle-menu child-center-v">

        <!-- Burger -->
        <div class="navTrigger">
          <i></i><i></i><i></i>
        </div>

      </div>

      <!-- Navigation Bar -->
      <div class="col-xs-12 navigation-bar child-center-v">

        <!-- Navigation Menu -->
        <nav id="navMenu" class="nav-menu">
          <ul class="menu">
            <li class="current-menu-item"><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <!-- <li><a href="#features">Features</a></li> -->
            <!-- <li><a href="#portfolio">Projects</a></li> -->
            <li><a href="#parallax-features">Projects</a></li>
            <li><a href="#blog">Blog</a></li>
            <li><a href="#team">Team</a></li>
            <li><a href="#footer">Contact</a></li>
          </ul>
        </nav>

      </div>
    </div>

    <!-- Site Header Banner -->
    <div class="row header-banner parent" data-scrollax="properties: { 'translateY': '48%', 'opacity': '1.4' }">

      <div class="heading-content text-center child-center-v">
        
        <div class="row heading-title">
          <div>
            <img src="{{ site.baseurl }}/images/logos/devcom.png" alt="DevCom Logo" />
          </div><br>
          <hr class="medium">
        </div>


      </div>
    </div>

    <!-- Arrow Down -->
    <div class="row arrow-down-section" data-scrollax="properties: { 'opacity': '0.6' }">

        <div class="wrapper-arrow child-center">
          <a href="#about" class="arrow-down">
            <i class="pe-7s-angle-down"></i>
          </a>
        </div>

    </div>

  </div>
</header>
