<!-- Parallax Section -->
<section class="site-section parallax-features-section parallax" id="parallax-features" data-scrollax-parent="true">

  <!-- Parallax Image -->
  <div class="cover">
    <img src="{{ site.baseurl }}/images/new5.jpeg" alt="Parallax Features" />
  </div>

  <div class="container">

    <div class="row text-center">

  
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2 style="color: #cce4ff">{{ site.core-title }}</h2>
        <hr class="normal">
      </header>

      
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p>{{ site.core-description }}</p>
      </div>

    </div>

    <div class="row section-features">

      <div class="col-md-4 phone" style="padding: auto; margin: auto;" onclick="instiapp()">
        <img src="{{ site.baseurl }}/images/instiapp-new.png" alt="InstiApp" />
      </div>

      <div class="col-md-4 phone" style="padding: auto; margin: auto;" onclick="cerium()">
        <img src="{{ site.baseurl }}/images/temp1.jpg" alt="InstiApp" />
      </div>

      <div class="col-md-4 phone" style="padding: auto; margin: auto;" onclick="noticeboard()">
        <img src="{{ site.baseurl }}/images/temp2.png" alt="InstiApp" />
      </div>

    </div>

      <div class="row section-features" id="instiapp-popup" style="display: none;">

        <div class="close-button">
          <button onclick="instiappclose()">Close!</button>
        </div>

        <div class="col-md-4 col-sm-6 text-right">
  
          {% for feature in site.core-features-instiapp-left %}
  
          <div class="feature">
            <div class="text-wrap">
              <h3>{{ feature.name }}</h3>
              <p>{{ feature.description }}</p>
            </div>
            <div class="icon-wrap">
              <div class="circle parent">
                <i class="{{ feature.icon }} child-center"></i>
              </div>
            </div>
          </div>
  
          {% endfor %}
  
        </div>
  
        <div class="col-md-4 popup" style="padding: auto; margin: auto;">
          <img src="{{ site.baseurl }}/images/instiapp-new.png" alt="InstiApp" />
        </div>
  
        <div class="col-md-4 col-sm-6 text-left">
  
          {% for feature in site.core-features-instiapp-right %}
  
          <div class="feature">
            <div class="text-wrap">
              <h3>{{ feature.name }}</h3>
              <p>{{ feature.description }}</p>
            </div>
            <div class="icon-wrap">
              <div class="circle parent">
                <i class="{{ feature.icon }} child-center"></i>
              </div>
            </div>
          </div>
  
          {% endfor %}
  
        </div>
  
      </div>

    <div class="row section-features" id="cerium-popup" style="display: none;">

      <div class="close-button">
        <button onclick="ceriumclose()">Close!</button>
      </div>

      <div class="col-md-4 col-sm-6 text-right">

        {% for feature in site.core-features-cerium-left %}

        <div class="feature">
          <div class="text-wrap">
            <h3>{{ feature.name }}</h3>
            <p>{{ feature.description }}</p>
          </div>
          <div class="icon-wrap">
            <div class="circle parent">
              <i class="{{ feature.icon }} child-center"></i>
            </div>
          </div>
        </div>

        {% endfor %}

      </div>

      <div class="col-md-4 popup" style="padding: auto; margin: auto;">
        <img src="{{ site.baseurl }}/images/temp1.jpg" alt="InstiApp" />
      </div>

      <div class="col-md-4 col-sm-6 text-left">

        {% for feature in site.core-features-cerium-right %}

        <div class="feature">
          <div class="text-wrap">
            <h3>{{ feature.name }}</h3>
            <p>{{ feature.description }}</p>
          </div>
          <div class="icon-wrap">
            <div class="circle parent">
              <i class="{{ feature.icon }} child-center"></i>
            </div>
          </div>
        </div>

        {% endfor %}

      </div>

    </div>

    <div class="row section-features" id="noticeboard-popup" style="display: none;">

      <div class="close-button">
        <button onclick="noticeboardclose()">Close!</button>
      </div>

      <div class="col-md-4 col-sm-6 text-right">

        {% for feature in site.core-features-noticeboard-left %}

        <div class="feature">
          <div class="text-wrap">
            <h3>{{ feature.name }}</h3>
            <p>{{ feature.description }}</p>
          </div>
          <div class="icon-wrap">
            <div class="circle parent">
              <i class="{{ feature.icon }} child-center"></i>
            </div>
          </div>
        </div>

        {% endfor %}

      </div>

      <div class="col-md-4 popup" style="padding: auto; margin: auto;">
        <img src="{{ site.baseurl }}/images/temp2.png" alt="InstiApp" />
      </div>

      <div class="col-md-4 col-sm-6 text-left">

        {% for feature in site.core-features-noticeboard-right %}

        <div class="feature">
          <div class="text-wrap">
            <h3>{{ feature.name }}</h3>
            <p>{{ feature.description }}</p>
          </div>
          <div class="icon-wrap">
            <div class="circle parent">
              <i class="{{ feature.icon }} child-center"></i>
            </div>
          </div>
        </div>

        {% endfor %}

      </div>

    </div>

  </div> 
</section>

<script>

  function disableScroll() { 
    document.body.classList.add("stop-scrolling");
  } 
  
  function enableScroll() { 
    document.body.classList.remove("stop-scrolling");
  }

  function instiapp() {
    document.getElementById("instiapp-popup").style.display = "block";
    disableScroll();
  }

  function instiappclose() {
    document.getElementById("instiapp-popup").style.display = "none";
    enableScroll();
  }

  function cerium() {
    document.getElementById("cerium-popup").style.display = "block";
    disableScroll();
  }

  function ceriumclose() {
    document.getElementById("cerium-popup").style.display = "none";
    enableScroll();
  }

  function noticeboard() {
    document.getElementById("noticeboard-popup").style.display = "block";
    disableScroll();
  }

  function noticeboardclose() {
    document.getElementById("noticeboard-popup").style.display = "none";
    enableScroll();
  }

</script>