<!DOCTYPE html >
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body>

    <!-- Page Loader -->
    <!-- <div id="page-loader" class="page-loader"><span class="load-icon"></span></div> -->
	<div class="page-loader">
	  <img class="p1" src="assets/petal.svg">
	  <img class="p2" src="assets/petal.svg">
	  <img class="p3" src="assets/petal.svg">
	  <img class="p4" src="assets/petal.svg">
	  <img class="p5" src="assets/petal.svg">
	  <img class="p6" src="assets/petal.svg">
	  <img class="p7" src="assets/petal.svg">
	</div>


    {% include header.html %}

    {{ content }}

    {% include footer.html %}

    {% include scripts.html %}

  </body>

</html>
