---
layout: default
title: DevCom
---

 <!-- Loader -->
<div class="page-loader">
  <img class="p1" src="{{ site.baseurl }}/images/petal.svg">
  <img class="p2" src="{{ site.baseurl }}/images/petal.svg">
  <img class="p3" src="{{ site.baseurl }}/images/petal.svg">
  <img class="p4" src="{{ site.baseurl }}/images/petal.svg">
  <img class="p5" src="{{ site.baseurl }}/images/petal.svg">
  <img class="p6" src="{{ site.baseurl }}/images/petal.svg">
  <img class="p7" src="{{ site.baseurl }}/images/petal.svg">
</div>

{% include sections/about.html %}

{% include sections/features.html %}

{% include sections/portfolio.html %}

{% include sections/parallax-features.html %}

{% include sections/team.html %}

{% include sections/blog.html %}

